<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="storages" class="com.maxim.webjs.storage.Storages" scope="singleton">
        <constructor-arg ref="usersStorage"/>
        <constructor-arg ref="friendsStorage"/>
    </bean>

    <bean id="usersStorage" class="com.maxim.webjs.storage.UserHibernateStorage"/>
    <bean id="friendsStorage" class="com.maxim.webjs.storage.FriendHibernateStorage"/>
</beans>