<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/postJSON.js"></script>
    <script type="text/javascript">
        function sendUser(){
            var jsonUser = JSON.stringify({
                name: document.getElementById("name").value,
                number: document.getElementById("number").value,
                email: document.getElementById("email").value});
            sendJSON("/users?type=0",jsonUser, new function(response){
                history.go(-1);
            });
        }
    </script>
</head>
<body>
<div class="center">
    <div class="form">
        <div>
            <label for="name">Имя</label>
            <input type="text" name="name" id="name"/>
        </div>
        <div>
            <label for="number">Телефон</label>
            <input type="text" name="number" id="number"/>
        </div>
        <div>
            <label for="email">E-mail</label>
            <input type="text" name="email" id="email"/>
        </div>
        <div>
            <input type="button" value="Создать" onclick="sendUser()">
        </div>
    </div>
</div>
</body>
</html>