<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/postJSON.js"></script>
    <script >
        function sendFriend(){
            var jsonFriend = JSON.stringify({
                name: document.getElementById("name").value,
                birthday: document.getElementById("birthday").value,
                interests: document.getElementById("interests").value});
            var parameterId=location.href.split("?")[1];
            var urlPostFriendServlet="/user/friends?"+"type=0&"+parameterId;
            sendJSON(urlPostFriendServlet,jsonFriend,function(response){
                 history.go(-1);
            });
        }
    </script>
</head>
<body>
<div class="center">
    <div class="form">
        <div>
            <label for="name">Имя</label>
            <input type="text" name="name" id="name"/>
        </div>
        <div>
            <label for="birthday">Дата рождения</label>
            <input type="text" name="birthday" id="birthday"/>
        </div>
        <div>
            <label for="interests">Интересы</label>
            <input type="text" name="interests" id="interests"/>
        </div>
        <div>
            <input type="button" value="Создать" onclick="sendFriend()">
        </div>
    </div>
</div>
</body>
</html>