<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main_style.css">
    <title>Title</title>
    <script type="text/javascript" src="js/postJSON.js"></script>
    <script >
        function sendFriend(){
            var name=document.getElementById("name").value;
            var birthday= document.getElementById("birthday").value;
            var interests=document.getElementById("interests").value;

            //check enter value
            var regexpBirthday = /^\d{4}-\d{2}-\d{2}$/i;

            if(name==""){
                alert("Name id empty");
                document.getElementById("name").style.border="2px solid red";
                return;
            }

            if(!regexpBirthday.test(birthday)){
                alert("Enter uncorrected date of birthday");
                document.getElementById("birthday").style.border="2px solid red";
                return;
            }

            var jsonFriend = JSON.stringify({name: name, birthday: birthday, interests: interests});
            var parameterId=location.href.split("?")[1];
            var urlPostFriendServlet="/user/friends?"+"type=0&"+parameterId;
            sendJSON(urlPostFriendServlet,jsonFriend,function(response){
                 history.go(-1);
            });
        }
    </script>
</head>
<body>
<div class="center">
    <h1>Создать друга для пользователя</h1>
    <div class="form">
        <div>
            <label for="name">Имя</label>
            <input type="text" name="name" id="name"/>
        </div>
        <div>
            <label for="birthday">Дата рождения</label>
            <input type="text" name="birthday" id="birthday"/>
        </div>
        <div>
            <label for="interests">Интересы</label>
            <input type="text" name="interests" id="interests"/>
        </div>
        <div>
            <input type="button" value="Создать" onclick="sendFriend()">
        </div>
    </div>
</div>
</body>
</html>